* {
  font-family: Arial, sans-serif;
}

body {
 background-color: black;
 color: white;
 text-align: center;
}
 
h1 { 
 color: #e50914;
}

.bod {
  background-color: #121212;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: left;
  color: white;
}

a {
 color: red;
 display: inline-block;
 text-decoration: none;
 margin: 30px;
} 